ul.main__status
  li.status__item.status__user.status__checked Контактные данные
  li.status__item.status__pay Способ доставки
  li.status__item.status__pay Способ оплаты
  li.status__item.status__complite Готово
